/* .carousel {
    display: block;
    overflow: hidden;
    width: 100%;
    position: relative;
   }
   
   .carousel-inner {
    display: block;
    width: 300%;
    position: relative;
    transition: transform 0.6s ease-in-out;
   }
   
   .carousel-item {
    display: block;
    width: 33.33%;
    float: left;
   }
   
   .carousel-item img {
    display: block;
    width: 90px;
    height: auto;
    padding-top: 100px;
   }
   
   .carousel-item.active {
    display: block;
   } */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900|Poppins:300,400,500,600,700,800,900');
.banner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 490px;
    display: block;
    padding-top: 105px;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.banner-text h1 {
    font-size: 2.5em;
    margin: 0;
}
/****************************
About us
****************/
#about-us {
    background-color: white;
    padding: 20px;
    margin-top: 54px;
    text-align: left; /* Center the content */
}

#about-us h2 {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    text-align: center; /* Center the content */

}

#about-us .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allow content to wrap on smaller screens */
}    

#about-us img {
    max-width: 100%; /*Ensure the image is responsive and doesn't exceed its container */
    margin-right: 20px; /* Adjust margin as needed */
    margin-left: 20px; /* Adjust margin as needed */
    margin-top: 20px; /* Adjust margin as needed */
    margin-bottom: 20px; /* Adjust margin as needed */
}

#about-us p {
    font-family: 'Poppins', sans-serif;
	font-size: 17px;
	line-height: 1.71;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.5);
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    /* font-family: 'Poppins', sans-serif;
    color: #666;
    font-size: 18px;
    line-height: 1.5; */
    text-align: justify;
    max-width: 700px; 
    /* Adjust max-width based on your design */
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
    #about-us {
        padding: 10px;
    }

    #about-us h2 {
        font-size: 20px;
    }

    #about-us img {
        margin-right: 20px; /* Remove margin on smaller screens */
        margin-bottom: 20px; /* Add some space below the image */
    }

    #about-us p {
        font-size: 14px;
    }
}

/* Custom CSS for carousel navigation buttons */
.carousel-control-prev,
.carousel-control-next {
    width: auto; /* Adjust the width as needed */
    padding: 0.25rem 0.5rem; /* Adjust the padding as needed */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    font-size: 1rem; /* Adjust the size as needed */
    color: #333; /* Set a darker color, you can change it to your preferred color */
    font-weight: bold; /* Make the font bolder */
}

/* Optional: Hover effect for better user interaction */
.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
    filter: invert(80%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.owl-carousel.owl-theme.language_slider {
    display: flex;
    flex-wrap: nowrap; /* Prevent items from wrapping to the next line */
}


@media (max-width: 768px) {
    .banner-text {
        width: 80%;
    }
}
/*********************************
8. Instructors
*********************************/

.instructors {
	width: 100%;
	padding-top: 88px;
	padding-bottom: 30px;
	background: #f8f8f8;
}

.instructors_background {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 567px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.instructors_row {
	margin-top: 79px;
}

.instructor {
	padding-top: 40px;
	padding-bottom: 34px;
	padding-left: 30px;
	padding-right: 30px;
}

.instructor_image_container {
	width: 165px;
	height: 165px;
	border: solid 14px #FFFFFF;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
	margin-left: auto;
	margin-right: auto;
}

.instructor_image {
	position: absolute;
	top: -14px;
	left: -14px;
	width: 165px;
	height: 165px;
}

.instructor_image img {
	max-width: 100%;
}

.instructor_name {
	margin-top: 18px;
}

.instructor_name a {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: rgba(0, 0, 0, 0.9);
	font-weight: 700;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.instructor_name a:hover {
	color: #2e21df;
}

.instructor_title {
	font-size: 14px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.3);
	margin-top: 5px;
}

.instructor_text {
	margin-top: 16px;
}

.instructor_social {
	margin-top: 22px;
}

.instructor_social ul li {
	display: inline-block;
}

.instructor_social ul li:not(:last-child) {
	margin-right: 5px;
}

.instructor_social ul li a i {
	font-size: 14px;
	color: #4f47e2;
	padding: 6px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.instructor_social ul li a i:hover {
	color: rgba(0, 0, 0, 1);
}
@media (max-width: 768px) {
    .reg_bg {
        height: 100vh;
        border-top: solid 5vw rgb(37, 26, 1);
        border-bottom: solid 2.5vw rgb(37, 26, 1);
    }
}

@media (max-width: 576px) {
    .reg_bg {
        height: auto;
        border-top: solid 3vw rgb(37, 26, 1);
        border-bottom: solid 1.5vw rgb(37, 26, 1);
    }
}
